<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Bonza Quote Plugin Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
    </php>
</phpunit>


